    body  {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 1.8)), 
  url("video.gif");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  font-family: Arial, Helvetica, sans-serif;  
}


#parent {
   position: absolute;
   width: 30%
}
img.superpose {
position: relative;
top: 20px;

}
#img_1 {
  border-radius: 100%;
  width: 15%;
  position: absolute;
   z-index: 11;
   margin-top: 2%;
   margin-left: 2%;
   opacity: 0.6;
   transition: .4s;
  
}

#img_1:hover {
  border-radius: 100%;
    opacity:0.93;
    width: 17%;
  margin-top: 1%;
   margin-left: -0%;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;

    } 
#img_1:hover + #img_2{
     animation-duration: 3s;
    opacity:0.9;
    width: 17%;
  margin-top: 1%;
   margin-left: -1%;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;

    }  


#img_2 {
  opacity: 0.8;
  border-radius: 100%;
  position: absolute;
  width: 20%;
  margin-top: -0.5%;
  margin-left: -0%;
   z-index: 2;
   animation-name: logo;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  }


@keyframes logo {
  100% {transform: rotate(360deg)}

}

#img_2:hover{

    opacity:0.9;
    animation-duration: 10s;
    width: 22%; 
     margin-top: -1.5%;
       margin-left: -3.5%;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    }  

#img_3 {
    border-radius: 100%;
  padding-bottom: 35px;
  width: 20%;
   z-index: -10;
   margin-top: 3%;
   margin-left: 3%;
   opacity: 0.0;
   transition: width 5s;
}

  #img_6 {
  width: 100%;
  opacity: 1.0;
  position: absolute;
  z-index: 0;
  margin-left: -50%;
  margin-top: -40%; 
  transition: 7s;
    }
#img_6:hover {
  width: 120%;
  margin-left: -60%;
  margin-top: -47%;
 
  opacity:0.0;
  z-index:-2;
  }

/* Float four columns side by side */
.column {
  z-index: 2;
  float:left;
  width: 20%;
  padding: 0 10px;
  margin-left: 6%;
  margin-bottom: 10px;
  transition: width 3s;
}

.column:hover {
  width: 25%;
}
.column2 {
  z-index: 1;
  float:left;
  width: 20%;
  padding: 0 10px;
  margin-bottom: 10px;
  transition: width 3s;
}

.column2:hover {
  width: 25%;
}
.column3{
  z-index: 3;
  float:left;
  width: 20%;
  padding: 0 10px;
  margin-bottom: 10px;
  transition: width 3s;
}

.column3:hover{
  width: 25%;
}
/* On screens that are 1200px wide or less, go from four columns to two columns*/
@media screen and (max-width: 1200px) {
  .column {
    width: 33%;
    margin-left: 0%
  }
  .column:hover {
    width: 33%;  
}
}
/* On screens that are 992px wide or less, go from four columns to two columns*/
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
    margin-left:0%;
  }
  .column:hover {
    width: 50%;  
}
}
/* Responsive columns */
@media screen and (max-width: 600px) {
.column {
    width: 100%;
   margin-left:0%;
  }
 .column:hover {
    width: 100%;   
}  
}
/* On screens that are 1200px wide or less, go from four columns to two columns*/
@media screen and (max-width: 1200px) {
  .column2 {

    width: 33%;
    margin-left: 0%
  }
  .column2:hover {
    width: 33%;  
}
}

/* On screens that are 992px wide or less, go from four columns to two columns*/
@media screen and (max-width: 992px) {
  .column2 {
    width: 50%;
    height: 100%;
  }
  .column2:hover {
    width: 50%;  
}
}
/* Responsive columns */
@media screen and (max-width: 600px) {
.column2 {
    width: 100%;
  }
 .column2:hover {
    width: 100%;
   
}
  
}

/* Style the counter block */
.text-block0 {
  height: 230px;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding:0 15px;
  text-align: justify; 
  color: rgba(255, 255, 255, 0.0);
  opacity: 0.2;
  transition: height 7s, color 5s;
  word-break: break-word;
  -webkit-hyphens:auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  position: relative;
  z-index: 0;
  animation-name: example;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-delay: -1s;
  animation-iteration-count: 1;
  animation-direction: linear;
  }
  .text-block0:hover{
    color: rgba(255, 255, 255, 1.0);
    opacity: 0.95;
    height:400px;
    z-index: 20;

  }

@keyframes example {
  0%   {opacity: 0.0; left:0px; top:-500px;}
  80%  {opacity: 1.0; left:0px; top:0px;}
  100% {opacity: 0.2; left:0px; top:0px;}
}
/* On screens that are 1200px wide or less, go from four columns to two columns*/
@media screen and (max-width: 1200px) {
  .text-block0 {
height: 200px;
  }
}
/* On screens that are 992px wide or less, go from four columns to two columns*/
@media screen and (max-width: 992px) {
  .text-block0 {
height: 200px;
}
}
/* Responsive columns */
@media screen and (max-width: 600px) {
.text-block0 {
height: 200px;
  } 
}
#conteneur2{
opacity: 1.0;
margin-top: -30%;
    position: relative;
    transition: 10s;
}
#conteneur2:hover{
opacity: 1.0;
    position: relative;
}

.image2{
    position: absolute;
}
#backgroundbird{
  width: 100%;
  opacity: 0.0;
  position: absolute;
  z-index: 40;
  margin-left: 0%;
  margin-top: 0%; 
  transition: 10s;
    }
#backgroundbird:hover + .svg--bird{
  z-index: 2;
  margin-left: -10%;
  animation: flying 2.5s 1 ease-in-out,up-down2 1.68s infinite ease-out;
  animation-fill-mode: forwards;

  }


@keyframes flying {
  0%   {opacity: 1.0; left:0px; top:0px;}
  90%  {opacity: 0.0; left:230px; top:-800px; width: 1000% }
  100%  {opacity: 0.0; left:0%; top:0px;width: 20%;  }
  }
 

.svg--bird { 
  width: 100%;
  opacity: 1.0;
  z-index: 30;
  margin-left: 25%;
  margin-top: 20%; 
 transition: 10s; 

 -webkit-animation: up-down 1.68s infinite ease-out;
          animation: up-down 1.68s infinite ease-out, op-bird 10s 1 ease-out ;
         
  /* mix-blend-mode: difference */
}
.c-rays {
  fill: none;
  stroke:#ffffff;
  stroke-width: 100%;
  
}

@-webkit-keyframes up-down2 {
  50% {
    -webkit-transform: translate(0, 3%);
            transform: translate(0, 3%);}}
@keyframes up-down {
  50% {
    -webkit-transform: translate(0, 5%);
            transform: translate(0, 5%);}}
@keyframes op-bird {
  0% {
    opacity: 0.0;}
  100% {
    opacity: 1.0;}
  }
 
 

    
    /* Style the counter block */
.text-block1 {
  height: 130px;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding:0 10px;
  text-align: justify; 
  color: rgba(255, 255, 255, 0.0);
  opacity: 0.2;
  transition: height 10s, color 12s;
  word-break: break-word;
  -webkit-hyphens:auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  position: relative;
  z-index: 0;
  animation-name: example1;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-delay: -1s;
  animation-iteration-count: 1;
  animation-direction: linear;
  }
  .text-block1:hover {
  color: rgba(255, 255, 255, 1.0);
   opacity: 0.90;
   height:299px;
   z-index: 21;
   
}

@keyframes example1 {
  0%   {opacity: 0.0; left:0px; top:500px;}
  80%  {opacity: 1.0; left:0px; top:0px;}
  100% {opacity: 0.2; left:0px; top:0px;}
}

  /* Style the counter block */
.text-block2 {
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0,0, 0.5)),  url("logotexte.svg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 0 15px;
  text-align: justify; 
  color: rgba(255, 255, 255, 0.0);
  opacity: 0.2;
  transition: height 10s, color 12s, background .10s ;
  word-break: break-word;
  -webkit-hyphens:auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  position: relative;
  z-index:0;
  animation-name: example2;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-delay: -1s;
  animation-iteration-count: 1;
  animation-direction: linear;
  }
  .text-block2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.9)),  url("logotexte.svg");
  background-color: rgba(0, 0, 0, 1.0);
    color: rgba(255, 255, 255, 1.0);
    opacity: 0.90;
    height:800px;
    z-index:20;
}

@keyframes example2 {
  0%   {opacity: 0.0; left:0px; top:600px;}
  80%  {opacity: 1.0; left:0px; top:0px;}
  100% {opacity: 0.2; left:0px; top:0px;}
}

    /* Style the counter block */
.text-block3 {
  height: 260px;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  opacity: 0.2;
  transition: height 10s;
  position: relative;
  z-index: 0;
  animation-name: example3;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-delay: -1s;
  animation-iteration-count: 1;
  animation-direction: linear;
  }
  .text-block3:hover {
    opacity: 0.90;
    height:400px;
    z-index: 20;
}

@keyframes example3 {
  0%   {opacity: 0.0; left:0px; top:500px;}
  50%  {opacity: 1.0; left:0px; top:0px;}
  100% {opacity: 0.35; left:0px; top:0px;}
}
      /* Style the counter block */
.text-block4 {
  height: 280px;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  color: rgba(0, 0, 0, 0.1);
  opacity: 0.2;
  transition: height 10s;
  position: relative;
  z-index: 0;
  animation-name: example4;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-delay: -1s;
  animation-iteration-count: 1;
  animation-direction: linear;
  }
  .text-block4:hover {
   opacity: 0.90;
   height:500px;
   z-index: 20;
}

@keyframes example4 {
  0%   {opacity: 0.0; left:0px; top:800px;}
  50%  {opacity: 1.0; left:0px; top:0px;}
  100% {opacity: 0.35; left:0px; top:0px;}
}

.text-block5 {
  height: 230px;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding:0 10px;
  text-align: justify; 
  color: rgba(255, 255, 255, 0.0);
  opacity: 0.2;
  transition: height 10s, color 12s;
  word-break: break-word;
  -webkit-hyphens:auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  position: relative;
  z-index: 0;
  animation-name: example5;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-delay: -1s;
  animation-iteration-count: 1;
  animation-direction: linear;
  }
  .text-block5:hover {
  color: rgba(255, 255, 255, 1.0);
  opacity: 0.90;
  height:850px;
  z-index: 20;
}
@keyframes example5 {
  0%   {opacity: 0.0; left:0px; top:500px;}
  80%  {opacity: 1.0; left:0px; top:0px;}
  100% {opacity: 0.35; left:0px; top:0px;}
}
#conteneur{
    opacity: 0.0;
    position: relative;
    transition: 6s;

}
#conteneur:hover{
    opacity: 1.0;
    position: relative;
}
.image{
    position: absolute;
}
#image1{
   background: linear-gradient(-180deg, #23d5ab, #ee7752, #e73c7e, #23a6d5, #190554);
  background-size: 400% 400%;
  animation: gradient 35s ease infinite;
  width: 107%;
  opacity: 1.0;
  margin-left: -3.5%;
  margin-top: -15%; 
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
  }
#image2{
 width: 15%;
  opacity: 1.0;
  margin-left: 58%;
  margin-top: 80%; 
  animation-name: arbre;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes arbre {
  0%   {opacity: 0.5; left:0px; top:0px;}
  25%  {opacity: 0.95;transform: rotate(2deg); left:-4px; top:-2px;}
  50%  {opacity: 0.5;transform: rotate(-3deg); left:0px; top:2px;}
  75%   {opacity: 0.7; left:-2px; top:0px;}
  100%   {opacity: 0.5; left:0px; top:0px;}
}
#image3{
width: 14.5%;
  opacity: 1.0;
  margin-left: 58%;
  margin-top: 80%; 
  animation-name: arbre2;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes arbre2 {
  0%   {opacity: 0.95; left:0px; top:0px;}
  25%  {opacity: 0.7; left:2px; top:-2px;}
  50%  {opacity: 0.95; left:1px; top:0px;}
  75%   {opacity: 0.7; left:0px; top:-1px;}
  100%   {opacity: 0.9; left:0px; top:0px;}
}
#image4{
width: 13%;
  opacity: 1.0;
  margin-left: 59%;
  margin-top: 81%; 
  animation-name: arbre3;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  transition: 3s;
}
@keyframes arbre3 {
  0%   {opacity: 0.95; left:0px; top:0px;}
  25%  {opacity: 0.7; left:2px; top:-2px;}
  50%  {opacity: 0.95; left:-1px; top:0px;}
  75%   {opacity: 0.7; left:0px; top:-1px;}
  100%   {opacity: 0.9; left:0px; top:0px;}
}
#image5{
width: 17%;
  opacity: 1.0;
  margin-left: 19.5%;
  margin-top: 99.5%; 
  animation-name: arbre5;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 8s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
@keyframes arbre5 {
  0%   {opacity: 0.95; left:0px; top:0px;}
  25%  {opacity: 0.95;transform: rotate(-5deg); left:0px; top:0px;}
  50%  {opacity: 0.95; left:0px; top:0px;}
  75%   {opacity: 0.95;transform: rotate(3deg) left:0px; top:0px;}
  100%   {opacity: 0.95; left:0px; top:0px;}
}
#image6{
width: 17%;
  opacity: 1.0;
  margin-left: 19.5%;
  margin-top: 99.5%; 
  animation-name: arbre6;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
@keyframes arbre6 {
  0%   {opacity: 0.95; left:0px; top:0px;}
  25%  {opacity: 0.95;; left:0px; top:0px;}
  50%  {opacity: 0.95;transform: rotate(-3deg); left:0px; top:0px;}
  75%   {opacity: 0.95;transform: rotate(2deg); left:0px; top:0px;}
  100%   {opacity: 0.95; left:0px; top:0px;}
}
#image7{
width: 17%;
  opacity: 1.0;
  margin-left: 19.5%;
  margin-top: 99.5%; 
  animation-name: arbre7;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
@keyframes arbre7 {
  0%   {opacity: 0.95; left:0px; top:0px;}
  25%  {opacity: 0.95;; left:0px; top:0px;}
  50%  {opacity: 0.95; left:0px; top:0px;}
  75%   {opacity: 0.95;transform: rotate(-4deg); left:0px; top:0.5%;}
  100%   {opacity: 0.95; left:0px; top:0px;}
}
#image8{ 
  width: 6.8%;
  opacity: 1.0;
  margin-left: 41.5%;
  margin-top: 104%; 
  animation-name: fleur1;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
@keyframes fleur1 {
  0%   {opacity: 0.95; left:0px; top:0px;}
  25%  {opacity: 0.95;transform: rotate(-7deg); left:-0.1%; top:0px;}
  50%  {opacity: 0.95; left:0px; top:0px;}
  75%   {opacity: 0.95;transform: rotate(3deg) left:0px; top:0px;}
  100%   {opacity: 0.95; left:0px; top:0px;}
}
#image9{
width: 10%;
  opacity: 1.0;
  margin-left: 41.5%;
  margin-top: 104%; 
  animation-name: fleur2;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
@keyframes fleur2 {
  0%   {opacity: 0.95; left:0px; top:0px;}
  25%  {opacity: 0.95; left:0px; top:0px;}
  50%  {opacity: 0.95;transform: rotate(-6deg); left:0px; top:0px;}
  75%   {opacity: 0.95;transform: rotate(2deg); left:0px; top:0px;}
  100%   {opacity: 0.95; left:0px; top:0px;}
}
#image10{
width: 6.8%;
  opacity: 1.0;
  margin-left: 41.5%;
  margin-top: 104%; 
  animation-name: fleur3;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
@keyframes fleur3 {
  0%   {opacity: 0.95; left:0px; top:0px;}
  25%  {opacity: 0.95;transform: rotate(-8deg); left:0px; top:0px;}
  50%  {opacity: 0.95; left:0px; top:0px;}
  75%   {opacity: 0.95;transform: rotate(7deg); left:0px; top:0.5%;}
  100%   {opacity: 0.95; left:0px; top:0px;}
}
.iframe{
    animation-name: example11;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-delay: -1s;
  animation-iteration-count: 1;
  animation-direction: linear;

  }
@keyframes example11 {
  0%   {opacity: 0.0; left:0px; top:500px;}
  80%  {opacity: 1.0; left:0px; top:0px;}
  100% {opacity: 0.35; left:0px; top:0px;}
}
 iframe {
  position:relative;
  z-index: 30;
   margin-top:20px;
  height: 120px;
  opacity: 0.20;

  }
  iframe:hover {
  opacity: 0.90;
}
.fa {font-size:50px;}

.pdf {
  position: relative;
  z-index: 21;
  padding-top: 25px;
  opacity: 0.20;
  transition: width 4s;
  }
  .pdf:hover {
  position: relative;
  z-index: 20;
  opacity: 0.90;
  width: 200%;
}

.chat {
  position: relative;
  z-index: 21;
  padding-top: 20px;
  opacity: 0.20;
  transition: width 4s;
  }
  .chat:hover {
  position: relative;
  z-index: 10;
  opacity: 0.90;
  width:170%;
  z-index: 20;
}

.text-block6{
  height: 280px;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding:0 15px;
  text-align: center; 
  color: rgba(255, 255, 255, 0.0);
  opacity: 0.2;
  transition: height 7s, color 5s;
  word-break: break-word;
  -webkit-hyphens:auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  opacity: 0.5;
  transition: height 10s;
  position: relative;
  z-index: -0;
  animation-name: example4;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-delay: -1s;
  animation-iteration-count: 1;
  animation-direction: linear;
  }
  .text-block6:hover{
   height:500px;
   color: rgba(255, 255, 255, 1.0);
    opacity: 0.95;
    z-index: 20;
}
#conteneur3{
  background: blue;
  float: right;
    width: 100%;
    height: 300px;
    opacity: 0.0;
    position: relative;
    z-index:1;
    transition: 3s;
    margin-left: 50%;
  margin-top:-25%;
}
.image300{
    position: relative;
}
#conteneur3:hover {

   width: 100%;
    opacity: 1.0;
        position: relative;
        z-index: 1;
}
#conteneur3:hover + #imageZ{

   opacity: 1.0;
}
#imageZ{
 border-radius: 10%;
  z-index: 20;
  float: right;
 width: 35%;
  opacity: 1.0;
  margin-right: 33%;
  margin-top: 15%;   
}
#imageY{

  background-image: none;
   z-index: 3;
  float: right;
 width: 20%;
  opacity: 1.0;
  margin-left: 30%;
  margin-top: -51.0%; 

 } 
#imageZ:hover{
  z-index: 200;
  transition: 3s;
   width: 120%;
   margin-top: -0%; 
}

#imageZ:hover + #imageY {
  z-index: 20;
   background-image: url("ink.png");
   border-radius: 1%;
  background-repeat: no-repeat;
  background-size: 2850% 35%;
   width: 380%;
  animation: gradient2 2.5s steps(24) forwards;
}
@keyframes gradient2 {
  0% {
    background-position: 0% 0%; opacity: 0.1;
  }
  100% {
    background-position: 100% 0%;opacity: 1.0
  }
  }
  #imageZZ{
 border-radius: 10%;
  z-index: 20;
  float: right;
 width: 40%;
  opacity: 1.0;
  margin-right: 30.7%;
  margin-top: 7%;   
}
#imageYY{

  background-image: none;
   z-index: 3;
  float: right;
 width: 40%;
  opacity: 1.0;
  margin-left: 30%;
  margin-top: -50.0%; 

 } 
#imageZZ:hover{
  z-index: 200;
  transition: 4s;
   width: 140%;
   margin-top: -5%;
 
}

#imageZZ:hover + #imageYY {
    z-index: 20;
   background-image: url("ink2.png");
   border-radius: 1%;
  background-repeat: no-repeat;
  background-size: 2850% 35%;
   width: 380%;

   margin-top: -67%;
  animation: gradient2 2.5s steps(24) forwards;
}


